@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 28 34% 95%;
    --card-foreground: 28 34% 63%;
    --popover: 28 34% 95%;
    --popover-foreground: 28 34% 63%;
    --primary: 28 34% 63%;
    --primary-foreground: 28 34% 95%;
    --secondary: 28 34% 85%;
    --secondary-foreground: 28 34% 63%;
    --muted: 28 34% 95%;
    --muted-foreground: 28 34% 63%;
    --accent: 28 34% 63%;
    --accent-foreground: 28 34% 95%;
    --destructive: 0 100% 60%;
    --destructive-foreground: 0 0% 100%;
    --border: 28 34% 85%;
    --input: 28 34% 95%;
    --ring: 28 34% 85%;
    --chart-1: 28 34% 63%;
    --chart-2: 28 34% 50%;
    --chart-3: 28 34% 40%;
    --chart-4: 28 34% 70%;
    --chart-5: 28 34% 80%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 28 34% 15%;
    --foreground: 28 34% 95%;
    --card: 28 34% 25%;
    --card-foreground: 28 34% 95%;
    --popover: 28 34% 25%;
    --popover-foreground: 28 34% 95%;
    --primary: 28 34% 95%;
    --primary-foreground: 28 34% 15%;
    --secondary: 28 34% 25%;
    --secondary-foreground: 28 34% 95%;
    --muted: 28 34% 25%;
    --muted-foreground: 28 34% 60%;
    --accent: 28 34% 25%;
    --accent-foreground: 28 34% 95%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 0 0% 100%;
    --border: 28 34% 25%;
    --input: 28 34% 25%;
    --ring: 28 34% 40%;
    --chart-1: 28 34% 40%;
    --chart-2: 28 34% 30%;
    --chart-3: 28 34% 20%;
    --chart-4: 28 34% 50%;
    --chart-5: 28 34% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
